.dropdown {
  box-shadow: rgba(149, 157, 165, 0.4) 0px 0px 18px;
}

.dropdown:hover .options {
  display: inline-block;
}

.dropdown:hover .arrow {
  transform: rotate(90deg);
}

.arrow {
  transition-duration: 0.2s;
}

.dropdownBtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  padding: 0px 15px 0px 15px;
  background: none;
  border: 2px solid #4e73df;
  border-radius: 10px;
  font-family: 'maplestoryLight';
  text-align: left;
  cursor: pointer;
}

.options {
  display: none;
  width: 100%;
  max-height: 190px;
  border-radius: 10px;
  border: 2px solid #4e73df;
  font-family: 'maplestoryLight';
  list-style: none;
  cursor: pointer;
  overflow-y: auto;
}

.options::-webkit-scrollbar {
  display: none;
}

.option {
  padding: 10px;
}

.option:hover {
  background-color: #6d8adf;
  color: #ffffff;
}
