.filterButton {
  margin: 0px 40px 0px 0px;
  padding: 0px 0px 5px 0px;
  background: none;
  border: none;
  font-size: 28px;
  font-family: 'maplestoryBold';
  color: #3e3e3e;
  cursor: pointer;
}

.filterButton:hover {
  color: #4e73df;
}

.selected {
  color: #4e73df;
}
