.productManager {
  grid-area: productManager;
  width: 890px;
  height: 850px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 0px 18px;
}

.title {
  font-size: 38px;
  font-family: 'maplestoryBold';
  margin-bottom: 25px;
  padding: 5px 0px 20px 5px;
  border-bottom: 1px solid #c5c5c5;
  color: #2e2e2e;
}

.widgetList {
  display: grid;
  grid-template-columns: repeat(4, 160px);
  grid-template-rows: repeat(4, 128px);
  column-gap: 50px;
  row-gap: 40px;
  height: 722px;
  padding: 20px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  overflow: scroll;
}

.widgetList::-webkit-scrollbar {
  display: none;
}
