.container {
  width: 95%;
  height: 500px;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #e2e2e2;
  border-radius: 20px;
  overflow-y: auto;
}

.selecters {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

.selecters::-webkit-scrollbar,
.container::-webkit-scrollbar {
  display: none;
}
