.id {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
  border-bottom: 2px solid #c0c0c0;
  color: #272727;
  font-size: 42px;
  font-family: 'maplestoryBold';
}
