.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-color: #f7f7f7;
}

.article {
  display: grid;
  grid-template-areas:
    '. info borrowList .'
    '. borrowButton borrowList .';
  grid-template-columns: 0 1fr 4fr 0;
  grid-template-rows: 8fr 1fr;
  column-gap: 50px;
  row-gap: 40px;
  margin-bottom: 40px;
}
