.modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.modalHeader {
  margin-right: 4px;
  text-align: right;
}

.modalCloseButton {
  width: 30px;
  height: 30px;
  padding-top: 1px;
  background: none;
  border: none;
  border-radius: 100%;
  color: #e74a3b;
  font-size: 26px;
  font-family: 'maplestoryBold';
  text-align: center;
  cursor: pointer;
}

.modalCloseButton:hover {
  background-color: #e74a3b;
  color: #ffffff;
}

.modalArticle {
  flex: 1;
  height: auto;
}
