.tag {
  width: 300px;
  margin-top: 44px;
  padding: 20px 20px 20px 30px;
  background-color: #ffffff;
  border-radius: 10px;
  font-family: 'maplestoryLight';
  box-shadow: rgba(149, 157, 165, 0.4) 0px 0px 18px;
}

.tagName {
  margin-bottom: 10px;
  font-size: 23px;
}

.tagValue {
  font-size: 37px;
  color: #272727;
}

.red {
  border-left: 8px solid #e74a3b;
}

.red > .tagName {
  color: #e74a3b;
}

.yello {
  border-left: 8px solid #e7b639;
}

.yello .tagName {
  color: #e7b639;
}
.green {
  border-left: 8px solid #1cc88a;
}

.green .tagName {
  color: #1cc88a;
}
