.inputStudentInfoModal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.titleContainer {
  width: 100%;
  margin-bottom: 10px;
}

.title {
  margin-bottom: 12px;
  font-family: 'maplestoryBold';
  font-size: 28px;
}

.alert {
  font-family: 'maplestoryLight';
  color: #e74a3b;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.buttonContainer > button {
  margin-right: 20px;
}
